.div-signup {
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-input-signup-name {
    float: right;
}

.div-signup-buttons {
    margin-top: 10%;
}

#lbl-signup-lastname, #lbl-signup-email, #lbl-signup-pass {
    margin-top: 10%;
}

#btn-signup {
    margin-top: 15%;
    width: 100%;
}